@-webkit-keyframes myrotate{
    0%{
        -webkit-transform : rotateY(0deg);
    }
    100%{
        -webkit-transform : rotateY(360deg);
    }
}


@-webkit-keyframes myrotateZ{
    0%{
        -webkit-transform : rotateZ(0deg);
    }
    100%{
        -webkit-transform : rotateZ(360deg);
    }
}

.rotateY{
    -webkit-animation: myrotate 6.5s linear infinite;
    animation: myrotate 6.5s linear infinite;

    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.rotateZ{
    -webkit-animation: myrotateZ 3s linear infinite;
}

@-webkit-keyframes myscale {
    from {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    3% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    6% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    9% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    10% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
svg {
    position: absolute;
    z-index: 100;
}
#layer {
    -webkit-transform: translate3d(0px, 0px, -284px) rotate3d(0, 1, 0, 0deg);
}

.slide {
    display: table;
}

.slide:nth-child(n+4) {
    display: none;
}

.slide>span {
    display: table-cell;
    vertical-align: middle;
    backface-visibility:hidden;
    position: relative;
}

.slide img:nth-child(n+2) {
    position: absolute;
    top: 0;
    left: 0;
}
#s0 img:nth-child(2) {
    width: 3.4%;
    top: 12.9%;
    left: 68.1%;
    -webkit-transform-origin: 64.1025% 53.7%;
}

#s0 img:nth-child(3) {
    width: 3.7%;
    top: 11.88888%;
    left: 70.6%;
    -webkit-transform-origin: 56.14285% 52.22222%;
}

#s0 img:nth-child(4) {
    width: 2.6%;
    top: 17.8%;
    left: 71.65%;
    -webkit-transform-origin: 66.66666% 52.941%;
}

#s0 img:nth-child(5) {
    width: 1.8%;
    top: 24.7%;
    left: 66.2%;
}

@-webkit-keyframes car1 {
    0% { 
        left: 66.2%;
        top: 24.7%;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    30% {
        left: 63.1%;
        top: 47%;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
    }
    50% {
        top: 56.2%;
        left: 57.5%;
        transform: rotateZ(56deg) scale(1.4);
        -webkit-transform: rotateZ(56deg) scale(1.4);
    }
    80% {
        left: 45.8%;
        top: 62.2%;
        transform: rotateZ(56deg) scale(1);
        -webkit-transform: rotateZ(56deg) scale(1);
    }
    100% {
        left: 45.8%;
        top: 62.2%;
        transform: rotateZ(56deg) scale(1);
        -webkit-transform: rotateZ(56deg) scale(1);
    }
}

.car1.run {
    -webkit-animation: car1 6s linear 0 infinite;
}

#s2 img:nth-child(2) {
    width: 9.24259%;
    left: 64.2%;
    top: 25.5%;
}

#s2 img:nth-child(3) {
    width: 11.61971%;
    top: 22.8%;
    left: 39.2%;
    z-index: 4;
}

#s2 img:nth-child(4) {
    width: 11.61971%;
    left: 10.475%;
    top: 31.25%;
}

#s2 img:nth-child(5) {
    width: 11.6198%;
    left: 49.6%;
    top: 36.6%;
}

#s2 img:nth-child(6) {
    width: 10.38732%;
    left: 23.9%;
    top: 44.1%;
}

#s2 img:nth-child(7) {
    width: 9.24295%;
    left: 37.6%;
    top: 49.9%;
}

#s2 img:nth-child(8) {
    width: 11.61971%;
    left: 68%;
    top: 60.9%;
}

#s2 img:nth-child(9) {
    width: 9.941901%;
    left: 45.3%;
    top: 67.4%;
}

#s2 img:nth-child(10) {
    width: 9.941901%;
    left: 32.3%;
    top: 72.2%;
}

#s3 div {
    position: absolute;
}

#s4 img:nth-child(2){
    left: 22.2%;
    top: 34.8%;
    width: 13.6%;
    z-index: 9999;
}
#s4 img:nth-child(n+1) {
     -webkit-transition: all 1s;
}

#s4.anmi img:nth-child(2) {
    -webkit-transform: scale(0.3);
    top: 10%;
    left: 34%;
}
#s4.anmi img:nth-child(3) {
    -webkit-transform: scale(0.3);
    top: 27.3%;
    left: 39.4%;
}
#s4.anmi img:nth-child(4) {
    -webkit-transform: scale(0.23);
    top: 22.9%;
    left: 46%;
}
#s4.anmi img:nth-child(5) {
    -webkit-transform: scale(0.35);
    top: 17.4%;
    left: 48%;
}
#s4.anmi img:nth-child(6) {
    -webkit-transform: scale(0.23);
    top: 28.6%;
    left: 58.4%;
}
#s4.anmi img:nth-child(7) {
    -webkit-transform: scale(0.3);
    top: 14.5%;
    left: 56.9%;
}
#s4.anmi img:nth-child(8) {
    opacity: 0;
    -webkit-transition: all 0s;
}

#s4 img:nth-child(8) {
    -webkit-transition: all 1s 1s;
    opacity: 1;
}

#s4 img:nth-child(3){
    width: 13%;
    left: 26.4%;
    top: 63.4%;
    z-index: 9999;
}
#s4 img:nth-child(4){
    width: 15.8%;
    left: 42.6%;
    top: 67.5%;
    z-index: 9999;
}
#s4 img:nth-child(5){
    left: 53.3%;
    top: 45.6%;
    width: 10.5%;
    z-index: 9999;
}
#s4 img:nth-child(6){
    width: 15.7%;
    top: 66.5%;
    left: 67.1%;
    z-index: 9999;
}
#s4 img:nth-child(7){
    left: 74.1%;
    top: 34.8%;
    width: 13.6%;
    z-index: 9999;
}

#s11 img:nth-child(n+2) {
    position: absolute;
}

#s11 img:nth-child(2) {
    /* left: 12.2%; */
    left: -29.84154%;
    top: 17%;
    width: 29.84154%;
}

#s11 img:nth-child(3) {
    top: 39.7%;
    left: -28.25704%;
    /* left: 6.2%; */
    width: 28.25704%;
}

#s11 img:nth-child(4) {
    top: 68.4%;
    /* left: 7.8%; */
    left: -29.13732%;
    width: 29.13732%;
}

#s11 img:nth-child(5) {
    top: 7.4%;
    left: 76.6%;
    width: 7.5%;
}
#s7 img:nth-child(2) {
    -webkit-transform-origin: 50% 77.2%;
}

#s8 img:nth-child(2),
#s8 img:nth-child(3) {
    top: 0;
    left: 0;
    -webkit-transform-origin: 48.8% 53.5%;
}

#s9 .chart1 {
    -webkit-transition: all 1s;
    transition: all 1s;
    position: absolute;
    width: 12.5%;
    height: 21.6%;
    top: 41.8%;
    left: 32%;
    -webkit-border-radius: 15%;
    background: -webkit-linear-gradient(-45deg, #ebeded 0%, #fefefe 100%);
}
#s9 .chart1 img {
    width: 63.11764%;
    position: absolute;
    left: 23.5157%;
    top: 23%;s
}

#s9 .chart2 {
    position: absolute;
    width: 6.7%;
    top: 20.3%;
    left: 63.7%;
    clip: rect(0, 0, 100px, 0);
}

#s12 img:nth-child(2) {
    left: 54.1%;
    top: 52.6%;
    width: 11.707746478873239%;
}

#s12 img:nth-child(3) {
    left: 61.7%;
    top: 68%;
    width: 34.9%;
    opacity: 0;
    -webkit-transition: opacity 1s 0.3s;
    transition: opacity 1s 0.3s;
}

#s13 img:nth-child(2) {
    width: 26.2%;
    left: 56.5%;
    top: 27.8%;
}

#s13 img:nth-child(3) {
    width: 23.7%;
    left: 10.1%;
    top: 63.8%;
}
#s13 img:nth-child(n+4) {
    opacity: 0;
    -webkit-transition: opacity 0.7s;
    transition: opacity 0.7s;
}

#s14 img:nth-child(2) {
    left: 47.3%;
    top: 10%;
    width: 2.4%;
    height: 3.6%;
}

#s14 img:nth-child(3) {
    left: 90%;
    top: 20%;
    width: 2%;
}
#dialogLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.dialog {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    margin: 5% 10% 15%;
    padding: 0em 0.75em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: auto;
}
.dialog dl dt,
.dialog dl dd {
    padding: 0;
    margin: 0;
}  

.dialog dl dt {
    background: #00c35a;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    margin: 0.5em 0;
}

.dialog dl dd {
    text-indent: 0.25em;
    color: #444444;
}

.dialog .close {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 4%;
}
@media all and (orientation : portrait){
    .dialog .close {
        top: 3%;
    }
}